# Lab 3 - Video Game Reviews

In [1]:
import pandas as pd

## Import Data

In [2]:
df = pd.read_csv('imdb-videogames.csv')

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.shape

(20805, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [6]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Questions

### 1. What is the average rating for Action games?

In [18]:
df.rating.value_counts()
df.rating.replace('*9.0', 9.0, inplace=True)
df.rating = pd.to_numeric(df.rating)
df.rating.value_counts()

7.4    493
7.5    470
7.6    452
7.2    450
7.8    442
      ...
1.7      4
1.5      3
1.3      3
1.4      1
1.0      1
Name: rating, Length: 86, dtype: int64

In [23]:
df.groupby("Action").rating.mean()

Action
False    6.998812
True     7.069257
Name: rating, dtype: float64

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [46]:
#after 2010
ave_rate = df[ df.year > 2010 ]
ave_rate['rating'].mean()

7.119838056680145

In [47]:
#before and including 2010
ave_rate2 = df[ df.year <= 2010 ]
ave_rate2['rating'].mean()

7.006822480410717

### 3. What games include "Fallout" in their title?

In [41]:
df_fallout = df[ df.name.str.contains("Fallout")]
df_fallout

### 4. What is the most common certificate for Sci-Fi games?

In [49]:
df_sci = df.groupby("Sci-Fi").certificate.value_counts()
df_sci

Sci-Fi  certificate
False   T              2050
        E              1821
        M              1481
        E10+            720
        Unrated         195
        K-A             188
        Not Rated       155
        AO               27
        EC               22
        GA               21
        CE               13
        12                6
        PG-13             6
        Approved          3
        G                 3
        MA-13             3
        PG                3
        MA-17             2
        TV-MA             2
        Passed            1
        TV-14             1
True    T               424
        M               339
        E               185
        E10+             94
        Unrated          46
        K-A              41
        Not Rated        29
        AO                5
        GA                5
        MA-13             4
        12                3
        EC                3
        Approved          1
        G                 1
        MA-17             1
        PG-13             1
Name: certificate, dtype: int64

### 5. What percent of Thiller games have M or AO certificate?

### 6. What is the mean and median rating for Family games? for Action games?

In [57]:
df.groupby("Family").agg(['mean', 'median'])

/var/folders/m4/jcwdm7kx3c9_2gv6d_kyhps00000gn/T/ipykernel_4484/1139012520.py:1: FutureWarning: ['name', 'url', 'certificate', 'votes', 'plot summary'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby("Family").agg(['mean', 'median'])

          Unnamed: 0                  year            rating           Action  \
                mean   median         mean  median      mean median      mean
Family
False    9983.159955   9650.5  2006.587557  2009.0  7.104427    7.3  0.616509
True    13000.114435  16326.0  1999.257173  2000.0  6.686450    6.9  0.305391

              Adventure         ...     Crime          Fantasy         \
       median      mean median  ...      mean median      mean median
Family                          ...
False     1.0  0.522588    1.0  ...  0.048968    0.0  0.225488    0.0
True      0.0  0.336000    0.0  ...  0.005913    0.0  0.106783    0.0

         Mystery           Sci-Fi         Thriller
            mean median      mean median      mean median
Family
False   0.064752    0.0  0.195371    0.0  0.028946    0.0
True    0.008348    0.0  0.030261    0.0  0.001391    0.0

[2 rows x 22 columns]

### 7. Which game from 2018 got the most votes?

7        318
9        295
8        294
10       287
12       259
        ...
2,325      1
5,028      1
948        1
1,253      1
3,025      1
Name: votes, Length: 1905, dtype: int64

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [53]:
df.groupby("Action", "Adventure", "Comedy", "Crime", "Family", "Fantasy", "Mystery", "Sci-Fi", "Thriller").rating.mean()

/var/folders/m4/jcwdm7kx3c9_2gv6d_kyhps00000gn/T/ipykernel_4484/479238207.py:1: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  df.groupby("Action", "Adventure", "Comedy", "Crime", "Family", "Fantasy", "Mystery", "Sci-Fi", "Thriller").rating.mean()

ValueError: No axis named Adventure for object type DataFrame

### 9. Which year's games received the most votes?

### 10. What's the average number of votes for games that are not Action games?

In [61]:
df[ df.Action == False ]

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
10014,10012,Stray,https://www.imdb.com/title/tt12497220/?ref_=ad...,2022.0,E10+,8.6,"1,378","Lost and separated from family, a stray cat mu...",False,True,False,False,False,False,False,True,False
10019,10017,It Takes Two,https://www.imdb.com/title/tt14321832/?ref_=ad...,2021.0,T,9.2,"2,180",Embark on the craziest journey of your life in...,False,True,True,False,False,False,False,False,False
10020,10018,The Dark Pictures: Man of Medan,https://www.imdb.com/title/tt8876446/?ref_=adv...,2019.0,M,6.7,"2,440",Four friends and their captain set sail on a h...,False,True,False,False,False,False,True,False,False
10025,10023,Portal 2,https://www.imdb.com/title/tt1648163/?ref_=adv...,2011.0,E10+,9.4,"15,609","Many years after ""Portal,"" Chell reawakens at ...",False,True,True,False,False,False,False,True,False
10029,10027,A Plague Tale: Innocence,https://www.imdb.com/title/tt7028648/?ref_=adv...,2019.0,M,8.3,"3,100","14th century France, Amicia and her little bro...",False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

### 11. What game are platformers?