# Lab 3 - Video Game Reviews

In [1]:
import math as nan

In [4]:
import pandas as pd

## Import Data

In [5]:
df = pd.read_csv('imdb-videogames.csv')

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.shape

(20805, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [6]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Questions

### 1. What is the average rating for Action games?

In [43]:
df.rating.value_counts()
df.rating.replace('*9.0', 9.0, inplace=True)
df.rating = pd.to_numeric(df.rating)
pd.DataFrame(df.rating.value_counts())

     rating
7.4     493
7.5     470
7.6     452
7.2     450
7.8     442
..      ...
1.7       4
1.5       3
1.3       3
1.4       1
1.0       1

[86 rows x 1 columns]

In [44]:
pd.DataFrame(df.groupby("Action").rating.mean())

          rating
Action
False   6.998812
True    7.069257

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [46]:
#after 2010
ave_rate = df[ df.year > 2010 ]
ave_rate['rating'].mean()

7.119838056680145

In [47]:
#before and including 2010
ave_rate2 = df[ df.year <= 2010 ]
ave_rate2['rating'].mean()

7.006822480410717

### 3. What games include "Fallout" in their title?

In [83]:
df[ df.name.str.contains("Fallout")].head()

,Unnamed: 0,name,url,year,certificate,rating,votes,summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
29,29,Fallout: New Vegas,https://www.imdb.com/title/tt1706601/?ref_=adv...,2010.0,M,8.9,12296.0,"After surviving a bullet to the head, Courier ...",True,True,False,False,False,False,False,True,False
37,37,Fallout 4,https://www.imdb.com/title/tt4741306/?ref_=adv...,2015.0,M,8.6,12790.0,"In the post-apocalyptic Boston, Massachusetts ...",True,True,False,False,False,False,False,True,False
115,115,Fallout 3,https://www.imdb.com/title/tt1073664/?ref_=adv...,2008.0,M,9.1,18904.0,"Centuries following nuclear war, a teen leaves...",True,True,False,False,False,False,False,True,False
207,207,Fallout 76,https://www.imdb.com/title/tt8495446/?ref_=adv...,2018.0,M,4.0,1756.0,"Twenty-five years after the bombs fall, you an...",True,True,False,False,False,False,False,True,False
340,340,Fallout: A Post-Nuclear Role-Playing Game,https://www.imdb.com/title/tt0134648/?ref_=adv...,1997.0,M,9.2,3772.0,After being sent by the overseer of his vault ...,True,True,False,False,False,False,False,True,False

### 4. What is the most common certificate for Sci-Fi games?

In [98]:
df_sci = df.groupby("Sci-Fi").certificate.value_counts()
pd.DataFrame(df_sci)

                    certificate
Sci-Fi certificate
False  T                   2050
       E                   1821
       M                   1481
       E10+                 720
       Unrated              195
       K-A                  188
       Not Rated            155
       AO                    27
       EC                    22
       GA                    21
       CE                    13
       12                     6
       PG-13                  6
       Approved               3
       G                      3
       MA-13                  3
       PG                     3
       MA-17                  2
       TV-MA                  2
       Passed                 1
       TV-14                  1
True   T                    424
       M                    339
       E                    185
       E10+                  94
       Unrated               46
       K-A                   41
       Not Rated             29
       AO                     5
       GA                     5
       MA-13                  4
       12                     3
       EC                     3
       Approved               1
       G                      1
       MA-17                  1
       PG-13                  1

### 5. What percent of Thiller games have M or AO certificate?

In [104]:
# df.votes = df.votes.str.replace(',', '')
# df.votes = pd.to_numeric(df.votes)
df.votes.describe()

count    11602.000000
mean       630.987588
std       2703.099224
min          5.000000
25%         17.000000
50%         48.000000
75%        205.000000
max      60597.000000
Name: votes, dtype: float64

In [105]:
thriller_m_ao = df[ (df.Thriller == True) & (df.certificate == "M") | (df.certificate == "AO") ]
print("Number of Thrillers with M or AO: ",len(thriller_m_ao))

thriller = df[ (df.Thriller==True) ]
print("Number of all Thrillers: ",len(thriller))

len(thriller_m_ao) / len(thriller)

Number of Thrillers with M or AO:  200
Number of all Thrillers:  523

0.3824091778202677

### 6. What is the mean and median rating for Family games? for Action games?

In [51]:
family_genre = df[ (df.Family==True) ]
print(f'Family mean:',family_genre.rating.mean())
print('Family median:',family_genre.rating.median())

action_genre = df[ (df.Action==True) ]
print(f'Action mean:',action_genre.rating.mean())
print('Action median:',action_genre.rating.median())

Family mean: 6.686450381679379
Family median: 6.9
Action mean: 7.069257468699611
Action median: 7.2

### 7. Which game from 2018 got the most votes?

In [107]:
max_2018_votes = df[ df.year == 2018]
max_2018_votes[["name", "votes"]].sort_values("votes", ascending=False)

                                 name    votes
15915          Red Dead Redemption II  35709.0
1              Red Dead Redemption II  35703.0
17763                      God of War  26129.0
10003                      God of War  26121.0
3                          God of War  26118.0
...                               ...      ...
20755  Higurashi no naku koro ni: Hou      NaN
20760                   Baptize Billy      NaN
20763                        Exapunks      NaN
20773                        Viviette      NaN
20781                     Nite Team 4      NaN

[872 rows x 2 columns]

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [109]:
df.rename(columns= {"Sci-Fi" : "SciFi"}, inplace=True)
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'SciFi', 'Thriller'],
      dtype='object')

In [113]:
# df[ df.Action, df.Adventure, df.Comedy, df.Crime, df.Family, df.Fantasy, df.Mystery, df.SciFi, df.Thriller].rating.mean()
action_avg = df[df.Action].rating.mean()
adventure_avg = df[ df.Adventure].rating.mean()
comedy_avg = df[ df.Comedy].rating.mean()
crime_avg = df[ df.Crime].rating.mean()
family_avg = df[df.Family].rating.mean()
fantasy_avg = df[df.Fantasy].rating.mean()
mystery_avg = df[ df.Mystery].rating.mean()
thriller_avg = df[df.Thriller].rating.mean()
scifi_ave = df[df.SciFi].rating.mean()


results_df = pd.DataFrame( { 
    "Type": ["Action", "Adventure", "Comedy", "Crime", "Family", "Fantasy", "Mystery", "Thriller", "SciFi"],
    "Rating": [action_avg, adventure_avg, comedy_avg, crime_avg, family_avg, family_avg, mystery_avg, thriller_avg, scifi_ave],
    
    })

results_df

# pd.DataFrame(df.groupby(["Action", "Adventure", "Comedy", "Crime", "Family", "Fantasy", "Mystery", "Thriller", "SciFi"]).rating.mean())

        Type    Rating
0     Action  7.069257
1  Adventure  7.249464
2     Comedy  7.189196
3      Crime  7.315111
4     Family  6.686450
5    Fantasy  6.686450
6    Mystery  7.451329
7   Thriller  7.107143
8      SciFi  6.949254

### 9. Which year's games received the most votes?

In [69]:
pd.DataFrame(df.groupby(['year', 'name']).votes.max())

                                               votes
year   name
1952.0 OXO                                      22.0
1962.0 Marienbad                                 NaN
       Spacewar!                                50.0
1964.0 The Sumerian Game                         NaN
1969.0 Lunar Lander                             13.0
...                                              ...
2024.0 Wolverine                                 NaN
2025.0 Amazing Kwame                             NaN
       Grand Theft Auto VI                       NaN
       Outlaws of Immortal Sorcery: Wild Hunt    NaN
2027.0 The Elder Scrolls VI                      NaN

[19828 rows x 1 columns]

### 10. What's the average number of votes for games that are not Action games?

In [59]:
df[ df.Action == False ].votes.mean()

188.42715700141443

### 11. What game are platformers?

In [108]:
df[ df.summary.str.contains("platform")].head()

,Unnamed: 0,name,url,year,certificate,rating,votes,summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
434,434,Sonic and the Fallen Star,https://www.imdb.com/title/tt15964560/?ref_=ad...,2021.0,E,8.3,11.0,Sonic and The Fallen Star is a 2D speed-based ...,True,True,False,False,True,False,False,False,False
446,446,007: Nightfire,https://www.imdb.com/title/tt0330471/?ref_=adv...,2002.0,T,8.0,1439.0,James Bond is on a mission to investigate abou...,True,True,False,False,False,False,False,False,False
448,448,Roblox,https://www.imdb.com/title/tt6667676/?ref_=adv...,2004.0,E10+,6.2,1239.0,Massively multiplayer online game creation pla...,True,True,False,False,True,False,False,False,False
474,474,T2: Terminator 2: Judgment Day,https://www.imdb.com/title/tt15187022/?ref_=ad...,1992.0,NaN,6.8,16.0,"Designed for the NES, the 8-bit version of ""Te...",True,False,False,False,False,False,False,True,False
838,836,A Hat in Time,https://www.imdb.com/title/tt3642956/?ref_=adv...,2017.0,E10+,8.1,324.0,A Hat in Time is a cute-as-heck 3D platformer ...,True,True,False,False,True,False,False,False,False

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [97]:
common_certificate = df[ (df.rating > 8) & (df.votes > 1000) ]
pd.DataFrame(common_certificate.certificate.value_counts())

           certificate
M                  363
T                  180
E                  102
E10+                51
K-A                 13
AO                   1
Unrated              1
Not Rated            1

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [38]:

rating_threshold = df.rating.quantile(0.75)
votes_threshold = df.votes.quantile(0.75)

genres = ["Action", "Adventure", "Comedy", "Crime", "Family", "Fantasy", "Mystery", "Sci-Fi", "Thriller"]

good_games = df[ (df.rating > rating_threshold) & (df.votes > votes_threshold)]
# good_action_games = good_games[ good_games.Action==True]
# len(good_action_games)

for genre in genres:
    print(genre, len( good_games[good_games[genre]]))

# good_adventure_games = good_games[ good_games.Adventure==True]
# print(len(good_adventure_games))

# good_action_games = good_games[ good_games.Action==True]
# print(len(good_action_games))

Action 1102
Adventure 993
Comedy 151
Crime 150
Family 113
Fantasy 443
Mystery 121
Sci-Fi 186
Thriller 55

### 14. What are the average ratings by year?

In [77]:
pd.DataFrame(df.groupby("year").rating.mean())

          rating
year
1952.0  7.000000
1962.0  6.800000
1964.0       NaN
1969.0  6.950000
1970.0  4.300000
...          ...
2022.0  7.563063
2023.0       NaN
2024.0       NaN
2025.0       NaN
2027.0       NaN

[61 rows x 1 columns]

### 15. For each cerficate, what was the average rating and average number of votes?

In [70]:
df.groupby('certificate').agg ( {
    'rating' : 'mean',
    'votes' : 'mean'
})

               rating        votes
certificate
12           7.350000    31.375000
AO           6.493333   246.333333
Approved     6.900000    52.333333
CE           5.520000    12.600000
E            7.085637   332.329063
E10+         7.181231   520.265766
EC           6.142857    18.857143
G            5.600000    11.500000
GA           6.531579   165.105263
K-A          6.913089   349.324607
M            7.515584  2498.627557
MA-13        7.080000    83.200000
MA-17        6.000000   165.666667
Not Rated    6.703650   110.759124
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   829.020862
TV-14        7.000000   127.000000
TV-MA        7.000000     8.000000
Unrated      6.478222   135.973333