# Lab 3 - Video Game Reviews

In [12]:
from math import nan

0    6.0
dtype: float64

In [41]:
import pandas as pd

## Import Data

In [42]:
df = pd.read_csv('imdb-videogames.csv')

In [43]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [44]:
df.shape

(20805, 17)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [46]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
MA-13           7
PG-13           7
G               4
Approved        4
PG              3
MA-17           3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Clean Data

Clean and Fix Rating

In [47]:
df.rating.replace("*9.0", "9.0", inplace=True)
df.rating = pd.to_numeric( df.rating)
df.rating.mean()

7.0477934838820895

Clean and Fix Votes

In [54]:
df.votes = df.votes.str.replace(',', '')
df.votes = pd.to_numeric(df.votes)
df.votes.mean()

AttributeError: Can only use .str accessor with string values!

## Questions

### 1. What is the average rating for Action games?

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

### 3. What games include "Fallout" in their title?

### 4. What is the most common certificate for Sci-Fi games?

### 5. What percent of Thiller games have M or AO certificate?

### 6. What is the mean and median rating for Family games? for Action games?

### 7. Which game from 2018 got the most votes?

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

### 9. Which year's games received the most votes?

### 10. What's the average number of votes for games that are not Action games?

### 11. What games are platformers?

### 12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

### 13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

### 14. What are the average ratings by year?

### 15. For each cerficate, what was the average rating and average number of votes?